@import url(../fonts/space\ age.ttf);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--white);
}
li{
  list-style: none;
}
:root{
  --white : #f1f1f1d0;

  
  --blueDark: #2E3B62;
  --blueLight:#4F65A7;
  --darkBlue:#010A24;
  --purple:#8360a0;
  --star:#e5bd4b;
  --moonShadow:#6D8F94;
  --fontSpace:'Space Mono', monospace;
  --spaceGrotesk:'Space Grotesk', sans-serif;
  --fontSpaceAge: 'Orbitron', sans-serif;
   

}
html{
  scroll-behavior: smooth;
  overflow-x:hidden;
 
}
:target {
  scroll-margin-top: .8em;
}
 
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


body {
  background: linear-gradient(to bottom, #000000,#010A24, #181040, #8360a0);
  min-height: 300vh;
  font-size: 62.5%;/*10px*/

 /* background: linear-gradient(to bottom, #000000, #010A24,#021345);*/
}
/* moon */
.moonlight {
  box-shadow: 0px 0px 350px 350px rgba(29, 72, 120, .5);
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 5%;
 
}

.moon {
  box-shadow: inset 0px 0px 50px 1px var(--moonShadow), 0px 0px 50px 80px rgba(143, 189, 255, .7);
  width: 100px;
  height: 100px; 
  background: #ffffff;
  border-radius: 100%;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: var(--star);
  animation: twinkling 3s infinite;
  box-shadow: 0px 0px 30px 5px rgba(120, 130, 155, .5);
  opacity: 0;
}

@keyframes twinkling {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }

}


/* Header */
.header{
  display: flex;
  justify-content:flex-end;
  align-content: center;
  align-self: center;
}

.navBar {
display: flex;
flex-direction: row;
justify-content: flex-end;
z-index:2;
}
.navBar li{
  color: var(--white);
  font-family: var(--fontSpaceAge);
  padding: 20px;
  font-size: 1.2rem;
  margin-top: 10px;
  letter-spacing: 3px;
  z-index:2;

}
.navBar li a{
  color: var(--blueDark);
  position: relative;
  z-index:2;
}
.navBar li a:hover{
 color: var(--purple);
 
}
.navBar  li a::before{
content: ' ';
position: absolute;
top: 12px;
left: 0;
width: 100%;
height: 2px;
background-color: currentColor;   
 transform-origin: left;
transform: scaleX(0);
transition: all 0.2s ease-out;
color: var(--cor05);
}
.navBar li a:hover::before{
transform: scaleX(1);
}







/* Configurações dos textos */
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: var(--fontSpaceAge);
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 3.5rem;
  text-transform: uppercase;

}

strong{
  color: var(--white);
  font-family: var(--fontSpace);
  width: 50%;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.caption{
  color: var(--white);
  font-family:var(--fontSpaceAge);
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 6rem;
  text-align: center;
}

.caption::after{
  content: "";
  background-color: var(--purple);
  width: 50%;
  height: 0.15rem;
  display:block;
  margin: 0.5rem;
 
}
.img{
  width: 200px;
  border-bottom-left-radius: 75px;
  border-top-right-radius: 75px;
  margin: 3rem 0;
}
.img-kath{
  height: 300px;
  border-bottom-left-radius: 75px;
  border-top-right-radius: 75px;

}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box{

  background-color: var(--white);
  padding: 40px;
  margin: 4rem;
  border-bottom-left-radius: 75px;
  border-top-right-radius: 75px;
  flex-direction: column;
}
.box p{
  color: var(--darkBlue);
  font-size: 1.2rem;
  font-family:var(--fontSpace) ;
  line-height: 1.5rem;
  text-indent: 30px;

}

#biography div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.contribution-container{
  display: flex;
justify-content: center;
}

/* Carousel */

.carousel-container {
  width: 100%;
  overflow: hidden;

}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 33.33%;
  height: auto;
  padding: 10px;
}

.carousel-item:last-child {
  margin-right: 0;
}

.carousel-item div {
  max-width: 100%;
  object-fit: cover;
  height: 250px;
  background-color: var(--blueDark);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .50rem;
  box-shadow:  2px 2px 8px 2px rgba(151, 185, 233, 0.7);
}
.carousel-item div p{
  font-family: var(--fontSpace);
  width: 90%;
  margin: auto;
  font-size: 1rem;
  color:var(--white);
  line-height: 1.3rem;
  text-indent: 0.6rem;
}
.carousel-item div h4{
  color: var(--purple);
  font-family: var(--fontSpaceAge);
  font-size: 1rem;
  letter-spacing: 3px;
  margin-top: 0.8rem;


}
.carousel-controls {
  text-align: center;
  margin-top: 10px;
}

.carousel-control {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--purple);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
/* Reconhecimento*/
#recong{
  margin: 6rem 0 0 0;
}
.awards{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.awards img{
  width: 35%;
  margin-left: 60px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
}

.awards-ul li{
  color: var(--white);
  font-family: var(--fontSpace);
  font-size:1.1rem;
  margin: 40px;
  position: relative;
  width: 80%;

}
.awards-ul li i{
  color: var(--purple);
  transform: rotate(-90deg);
}
/* Footer */
.madeBy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}
.madeBy h3{
  font-size: 1.2rem;
  color: var(--white);
  font-family: var(--spaceGrotesk);
  font-weight: 300;
  margin: 3rem 0 0 30px;
  text-align: center;
}

.link-modal{
  width: 180px;
  background-color: var(--darkBlue);
  text-align: center;
  padding: 15px;
  font-family: var(--fontSpace);
  font-size: 1rem;
  border-radius: 10px;
  margin: 40px 0 0 0;
  box-shadow:  2px 2px 8px 2px rgba(151, 185, 233, 0.7);
  transition: all 0.2s ease-out;
}

.link-modal:hover{
  background-color: var(--purple);
  scale: 1.1;
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}
.pulse-element {
 
  animation: pulse 1s infinite cubic-bezier(0.4, 0.8, 0.4, 0.8); /* Duração maior e interpolação cubic-bezier */
}





.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#svg {
  position: absolute;
  animation: move-astronaut 5s infinite alternate;
  transform-origin: center center;
}

.svg{
  position: absolute;
  animation: move-astronaut 5s infinite alternate;
  transform-origin: center center;
}


.object_astronaut{
  animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut{
  z-index: 110 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}
.object_rocket{
  z-index: 95;
  position: absolute;
  transform: translateX(-50px);
  top: 75%;
  pointer-events: none;
  animation: rocket-movement 200s linear infinite both running;
}
@-moz-keyframes rocket-movement { 100% {-moz-transform: translate(1200px,-600px);} }
@-webkit-keyframes rocket-movement {100% {-webkit-transform: translate(1200px,-600px); } }
@keyframes rocket-movement { 100% {transform: translate(1200px,-600px);} }


@-moz-keyframes move-astronaut {
  100% { -moz-transform: translate(-160px, -160px);}
}
@-webkit-keyframes move-astronaut {
  100% { -webkit-transform: translate(-160px, -160px);}
}
@keyframes move-astronaut{
  100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }
}
@-moz-keyframes rotate-astronaut {
  100% { -moz-transform: rotate(-720deg);}
}
@-webkit-keyframes rotate-astronaut {
  100% { -webkit-transform: rotate(-720deg);}
}
@keyframes rotate-astronaut{
  100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg); }
}




